<div class="container">
  <div class="row">
    <div class="col-md mb-3">
      <h1 class="text-center text-primary titulo-principal">
        SEGUIMIENTO Y EVALUACIÓN DE PRÁCTICAS PREPROFESIONALES POR PARTE DE LA
        DIRECCIÓN DE CARRERA
      </h1>
    </div>
  </div>
  <form class="needs-validation" [formGroup]="formularioVSO003" (ngSubmit)="onSubmit($event)" novalidate>
        <div class="card shadow-sm mb-3">
          <div class="card-header"><b>DATOS DEL ESTUDIANTE:</b></div>
          <div class="card-body">
            <div class="row ">
              <div class="col-md-6 mb-3">
                <label for="nombreEstudianteInput" class="form-label"
                  >Nombre:</label
                >
                <input
                  type="text"
                  class="form-control "
                  id="nombreEstudianteInput"
                  [value]="infoEvaluacionDirector.nombre_estudiante"
                  readonly disabled
                />
              </div>
            </div>
            <div class="row ">
              <div class="col-md mb-3">
                <label class="form-label">Carrera:</label>
                <input
                  type="text"
                  class="form-control "
                  id="escuelaInput"
                  [value]="infoEvaluacionDirector.escuela"
                  readonly disabled
                />
              </div>
              <div class="col-md mb-3">
                <label class="form-label">Nivel/Ciclo:</label>
                <input
                  type="text"
                  class="form-control "
                  id="nivelInput"
                  [value]="infoEvaluacionDirector.nivel"
                  readonly disabled
                />
              </div>
            </div>
            <div class="row ">
              <div class="col-md mb-3">
                <label for="areaPracticasInput" class="form-label"
                  >Área de la práctica pre-profesional:</label
                >
                <input
                  type="text"
                  class="form-control "
                  id="areaPracticasInput"
                  [value]="infoEvaluacionDirector.area_practicas"
                  readonly disabled
                />
              </div>
              <div class="col-md mb-3">
                <label for="horasPracicasInput" class="form-label"
                  >Número de horas de prácticas realizadas:</label
                >
                <input
                  type="number"
                  class="form-control "
                  id="horasPracicasInput"
                  [value]="infoEvaluacionDirector.horas_practicas"
                  readonly disabled
                />
              </div>
            </div>
            <div class="row ">
              <div class="col-md mb-3">
                <label for="inicioPracticasInput" class="form-label"
                  >Fecha de inicio:</label
                >
                <input
                  type="date"
                  class="form-control "
                  id="inicioPracticasInput"
                  [value]="infoEvaluacionDirector.fecha_inicio"
                  readonly disabled
                />
              </div>
              <div class="col-md mb-3">
                <label for="finPracicasInput" class="form-label"
                  >Fecha de finalización:</label
                >
                <input
                  type="date"
                  class="form-control "
                  id="finPracicasInput"
                  [value]="infoEvaluacionDirector.fecha_fin"
                  readonly disabled
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow-sm mb-3">
          <div class="card-header">
            <b>DATOS DE LA ORGANIZACIÓN, ENTIDAD O PERSONA JURÍDICA:</b>
          </div>
          <div class="card-body">
            <div class="row ">
              <div class="col-md-6 mb-3">
                <label for="nombreEmpresaInput" class="form-label"
                  >Nombre / Razón social:</label
                >
                <input
                  type="text"
                  class="form-control "
                  id="nombreEmpresaInput"
                  [value]="infoEvaluacionDirector.razon_social"
                  readonly disabled
                />
              </div>
            </div>
            <div class="row ">
              <div class="col-md mb-3">
                <label for="representanteEmpresaInput" class="form-label"
                  >Representante legal:</label
                >
                <input
                  type="text"
                  class="form-control "
                  id="representanteEmpresaInput"
                  [value]="infoEvaluacionDirector.representante_legal"
                  readonly disabled
                />
              </div>
              <div class="col-md mb-3">
                <label for="areaEmpresaInput" class="form-label"
                  >Área de dedicación:</label
                >
                <input
                  type="text"
                  class="form-control "
                  id="areaEmpresaInput"
                  [value]="infoEvaluacionDirector.area_dedicacion"
                  readonly disabled
                />
              </div>
            </div>
            <div class="row ">
              <div class="col-md mb-3">
                <label
                  for="representantePracticaEmpresaInput"
                  class="form-label"
                  >Representante para la práctica del estudiante:</label
                >
                <input
                  type="text"
                  class="form-control "
                  id="representantePracticaEmpresaInput"
                  [value]="infoEvaluacionDirector.representante"
                  readonly disabled
                />
              </div>
              <div class="col-md mb-3">
                <label for="areaPracticaEmpresaInput" class="form-label"
                  >Área de las prácticas:</label
                >
                <input
                  type="text"
                  class="form-control "
                  id="areaPracticaEmpresaInput"
                  [value]="infoEvaluacionDirector.area_practicas"
                  readonly disabled
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow-sm mb-3" formGroupName="calificacion">
          <div class="card-header"><b>VALORACIÓN:</b></div>
          <div class="card-body">
            <table class="table table-striped table-md">
              <thead>
                <tr>
                  <th colspan="2" scope="col-md" class="text-center">CRITERIOS</th>
                  <th scope="col-md" class="text-center">SOBRE / 30</th>
                </tr>
              </thead>
              <tbody formArrayName="criterios">
                <tr
                  *ngFor="
                    let criterioForm of tranformarAbstractControlEnFormArray(
                      formularioVSO003.get('calificacion.criterios')!
                    ).controls;
                    index as i
                  "
                  [formGroupName]="i"
                >
                  <th scope="row" class="text-center">{{ i + 1 }}.</th>
                  <td>
                    <label
                      for="{{ 'criterioCalificacion' + i }}"
                      class="form-label"
                      >{{ criterioForm.get("nombre")?.value }}</label
                    >
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      id="{{ 'criterioCalificacion' + i }}"
                      formControlName="calificacion"
                      (blur)="calcularNotaPromedio()"
                      max="30"
                      min="0"
                      required
                    />
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th colspan="2" scope="row" class="text-end">TOTAL:</th>
                  <td>
                    <input
                      type="number"
                      class="form-control "
                      formControlName="nota_promedio"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <th colspan="2" scope="row" class="text-end">
                    EVALUACIÓN DE LA ORGANIZACIÓN:
                  </th>
                  <td>
                    <input
                      type="number"
                      class="form-control "
                      [value]="infoEvaluacionDirector.nota_organizacion"
                      readonly disabled
                    />
                  </td>
                </tr>
                <tr>
                  <th colspan="2" scope="row" class="text-end">PROMEDIO:</th>
                  <td>
                    <input
                      type="number"
                      class="form-control "
                      formControlName="nota_final"
                      readonly
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <br />
            <div class="row ">
              <div class="col-md mb-3">
                <label for="asistenciaInput" class="form-label"
                  ><span style="color: red">*</span> Asistencia (%):</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="asistenciaInput"
                  formControlName="porcentaje_asistencia"
                  min="0"
                  max="100"
                  required
                />
              </div>
              <div class="col-md mb-3">
                <label for="numeroHorasPracticasInput" class="form-label"
                  ><span style="color: red">*</span> Horas aprobadas de
                  prácticas pre profesionales:</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="numeroHorasPracticasInput"
                  formControlName="numero_horas_practicas"
                  required
                />
              </div>
            </div>
            <div class="row ">
              <div class="col-md mb-3">
                <label for="reprobadoRazonesInput" class="form-label"
                  >Reprobado (Razones):</label
                >
                <textarea
                  class="form-control"
                  id="reprobadoRazonesInput"
                  rows="3"
                  formControlName="observaciones"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
    <div class="d-grid gap-2  d-flex justify-content-end  mb-3">
      <button
        class="btn btn-primary"
        type="submit"
      >
      CONTINUAR <i class="fa-solid fa-circle-check"></i>
      </button>
    </div>
  </form>
</div>
