<div class="container">
  <!-- <img src="../../../../assets/img/logoUnibe.png" alt="" class="logo-unibe d-flex justify-content-center mb-3"> -->
  <form class="card p-4 mt-5"
  [formGroup]="formGroupSolicitudPracticas"
  (ngSubmit)="onSubmit($event)"
  novalidate
  >
    <h4 class="text-center text-primary">
      SOLICITUD DEL ESTUDIANTE PARA REALIZAR PRÁCTICAS PRE-PROFESIONALES
    </h4>
    <hr />
    <h5 class="mb-3">DATOS DEL ESTUDIANTE</h5>
    <div class="mb-3">
      <label for="nombreInput" class="form-label"
        ><span style="color: red">*</span> Nombre:</label
      >
      <input type="text" class="form-control" id="nombreInput"  />
    </div>
    <div class="row">
      <div class="mb-3 col-8">
        <label for="escuelaInput" class="form-label"
          ><span style="color: red">*</span> Escuela:</label
        >
        <input
          type="text"
          class="form-control"
          id="escuelaInput"
          placeholder=""

        />
      </div>
      <div class="mb-3 col-4">
        <label for="nivelCicloInput" class="form-label"
          ><span style="color: red">*</span> Nivel/Ciclo:</label
        >
        <select
          formControlName="nivelId"
          class="form-select"
          aria-label="Default select example"

        >
          <option>Selecciona</option>
          <option value="1">Primero</option>
          <option value="2">Segundo</option>
          <option value="3">Tercero</option>
          <option value="4">Cuarto</option>
          <option value="5">Quinto</option>
          <option value="6">Sexto</option>
          <option value="7">Septimo</option>
          <option value="8">Octavo</option>
          <option value="9">Noveno</option>
          <option value="10">Decimo</option>
        </select>
        <span *ngIf="formGroupSolicitudPracticas.get('nivelId')?.errors && formGroupSolicitudPracticas.get('nivelId')?.dirty" >error</span>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-8">
        <label for="areaInput" class="form-label"
          ><span style="color: red">*</span> Área propuesta para la
          práctica:</label
        >
        <input
          type="text"
          formControlName="area"
          class="form-control"
          id="areaInput"
          placeholder=""

        />
      </div>
      <div class="mb-3 col-4">
        <label for="horasInput" class="form-label"
          ><span style="color: red">*</span> Número de horas solicitadas para la
          práctica:</label
        >
        <input
        type="number"
        formControlName="numeroHoras"
          class="form-control"
          id="horasInput"
          placeholder=""

        />
      </div>
    </div>
    <hr />
    <!-- <div>
      <h5 class="mb-3">
        DATOS DE LA ORGANIZACIÓN, ENTIDAD O PERSONA JURÍDICA:
      </h5>
      <div class="row">
        <div class="mb-3 col-6">
          <label for="areaInput" class="form-label"
            ><span style="color: red">*</span> Nombre / Razón Social:</label
          >
          <input
            type="text"
            class="form-control"
            id="areaInput"
            placeholder=""

          />
        </div>
        <div class="mb-3 col-6">
          <label for="areaInput" class="form-label"
            ><span style="color: red">*</span> Representante Legal:</label
          >
          <input
            type="text"
            class="form-control"
            id="areaInput"
            placeholder=""

          />
        </div>
      </div>
      <div class="mb-3">
        <label for="areaInput" class="form-label"
          ><span style="color: red">*</span> Area de Dedicación:</label
        >
        <input
          type="text"
          class="form-control"
          id="areaInput"
          placeholder=""

        />
      </div>
      <div class="mb-3">
        <label for="areaInput" class="form-label"
          ><span style="color: red">*</span> Representante para la práctica del
          estudiante:</label
        >
        <input
          type="text"
          class="form-control"
          id="areaInput"
          placeholder=""

        />
      </div>
      <div class="mb-3">
        <label for="areaInput" class="form-label"
          ><span style="color: red">*</span> Dirección:</label
        >
        <input
          type="text"
          class="form-control"
          id="areaInput"
          placeholder=""

        />
      </div>
      <div class="mb-3">
        <label for="areaInput" class="form-label"
          ><span style="color: red">*</span> Télefonos:</label
        >
        <input
          type="text"
          class="form-control"
          id="areaInput"
          placeholder=""

        />
      </div>
      <div class="mb-3">
        <label for="areaInput" class="form-label"
          ><span style="color: red">*</span> E-mail:</label
        >
        <input
          type="email"
          class="form-control"
          id="areaInput"
          placeholder=""

        />
      </div>
      <hr />
    </div> -->

    <h5 class="mb-3">COMPROMISO DEL ESTUDIANTE:</h5>
    <p>
      Me comprometo a cumplir con el Reglamento de Prácticas Pre profesionales
      de la Universidad, así como los objetivos, actividades, horarios y más
      responsabilidades exigidas por la organización, entidad o persona jurídica
      en la que realizaré mis practicas preprofesionales. Mi conducta, en todo
      momento, será de responsabilidad, honestidad, puntualidad y colaboración.
    </p>
    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="estudianteCompromiso"
        value=""
        id="flexCheckChecked"

      />
      <label class="" for="flexCheckChecked" class="">
        <b><span style="color: red">*</span> Aceptar Compromiso</b>
      </label>
    </div>
    <hr />
    <br />
    <button class="btn btn-primary col-4 m-auto" [disabled]="formGroupSolicitudPracticas.invalid || formGroupSolicitudPracticas.get('estudianteCompromiso')?.value == false">Solicitar</button>
  </form>
</div>
