<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-primary">INFORME SOBRE LAS PRÁCTICAS PRE PROFESIONALES POR PARTE DEL ESTUDIANTE</h1>
            <div class="alert alert-warning" role="alert">Para finalizar tus prácticas preprofesoinales, debes enviar el informe final donde debes explicar cómo lograste tus objetivos, qué aprendiste para tu carrera, cómo afectó a tu crecimiento personal, y también compartir tus comentarios y recomendaciones.</div>
    </div>
    <form [formGroup]="formularioVSO005">
        <div class="row mb-3" formGroupName="informe">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header">INFORME</div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="cumplimientoObjetivosTextarea" class="form-label">Cumplimiento de los objetivos de las prácticas:</label>
                                <textarea class="form-control" id="cumplimientoObjetivosTextarea" rows="3" formControlName="cumplimiento_objetivos"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="beneficiosFormacionTextarea" class="form-label">Beneficios para su formación profesional:</label>
                                <textarea class="form-control" id="beneficiosFormacionTextarea" rows="3" formControlName="beneficios"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="nuevosAprendizajesTextarea" class="form-label">Nuevos aprendizajes:</label>
                                <textarea class="form-control" id="nuevosAprendizajesTextarea" rows="3" formControlName="aprendizajes"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="desarrolloPersonalTextarea" class="form-label">Incidencia en su desarrollo personal:</label>
                                <textarea class="form-control" id="desarrolloPersonalTextarea" rows="3" formControlName="desarrollo_personal"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="comentariosTextarea" class="form-label">Comentarios:</label>
                                <textarea class="form-control" id="comentariosTextarea" rows="3" formControlName="comentarios"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="recomendacionesTextarea" class="form-label">Recomendaciones:</label>
                                <textarea class="form-control" id="recomendacionesTextarea" rows="3" formControlName="recomendaciones"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button class="btn btn-primary btn-lg" type="button" (click)="guardarInformacion()">Guardar</button>
        </div>
    </form>
</div>
