.fondo {
  background-color: #f9f9f9;
}
.logo {
object-fit: cover;
height: max-content;
margin: auto;
}


.form-sesion {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.31);
  padding: 30px;
}

.form-sesion > h4 {
  font-weight: 300 !important;
}

.form-sesion > a {
  text-decoration: none;
}
.navbar{
  position: fixed;
  width: 100%;
}

.login {
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.logo-unibe {
  width: 50px;
  height: 50px;
  margin: auto;
  font-weight: 400 !important;
  color: white;
}

@media only screen and (min-width: 768px) {
  
  .flex-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}