<div class="fondo">
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" href="#"
        ><img
          src="../../../../assets/img/logo-unibejpeg.jpeg"
          class="logo-unibe"
        /><span class="logo-unibe">
          Prácticas Preprofesionales - UNIB.E</span
        ></a
      >
    </div>
  </nav>
  <br>
  <br>
  <br>
  <div class="container m-auto flex-content row">
    <img
      class="logo col-lg-6 p-4 p-lg-5 m-auto w-50 w-md-100"
      src="../../../assets/img/logoUnibe.png"
      alt=""
      srcset=""
    />
    <div class="col-lg-6 p-lg-5">
    <form
      class="form-sesion m-auto"
      autocomplete="off"
      [formGroup]="formularioLogin"
      (ngSubmit)="login()"
    >
      <h4 class="text-center text-warning">Bienvenido!</h4>
      <input
        class="mb-3 form-control"
        type="text"
        placeholder="Usuario"
        formControlName="email"
      />
      <input
        class="mb-3 form-control"
        type="password"
        placeholder="Contraseña"
        formControlName="password"
      />
      <button
        class="mb-3 btn btn-primary"
        type="submit"
        [disabled]="formularioLogin.invalid"
      >
        Continuar
      </button>
      <a class="text-center fs-8" href="">Olvidaste tu usuario o contraseña?</a>
    </form>
  </div>
  </div>
  <br>
  <br>
  <br>
  <footer class="footer bg-primary text-center p-2">
    <span class="text-white"
      >http://www.unibe.edu.ec<br />info@unibe.edu.ec</span
    >
  </footer>
</div>
