.fondo{
    background-color: #F9F9F9;
    height: 100vh;
}
.logo{
    height: 350px;
    padding: 50px;
    margin: auto;
}

.form-sesion{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.31);
    width: 80%;
    margin: auto;
    padding: 30px;
}

.form-sesion>h4{
    font-weight: 300!important;
}


.form-sesion>a{
    text-decoration: none;
}

.flex-inicio-sesion{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top: 50%;
    transform: translateY(-50%);
}

.login{
    position: relative;
}

.footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    font-size: 0.8rem;
}