<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center text-primary">
        SOLICITUD DEL ESTUDIANTE PARA REALIZAR PRÁCTICAS PRE-PROFESIONALES
      </h1>
    </div>
  </div>
  <form
    [formGroup]="formGroupSolicitudPracticas"
    (ngSubmit)="onSubmit($event)"
    novalidate
  >
    <div class="card shadow-sm mb-3">
      <div class="card-header"><b>DATOS DEL ESTUDIANTE:</b></div>
      <div class="card-body">
        <div>
          <div class="row mb-3">
            <div class="col-6">
              <label for="nombreInput" class="form-label">Nombre:</label>
              <input
                type="text"
                class="form-control input-readonly inputCompletado"
                id="nombreInput"
                readonly
                [value]="estudiante.nombre"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="escuelaInput" class="form-label">Escuela:</label>
              <input
                type="text"
                class="form-control input-readonly inputCompletado"
                id="escuelaInput"
                readonly
                [value]="estudiante.escuela"
              />
            </div>
            <div class="col">
              <label for="nivelInput" class="form-label">Nivel/Ciclo:</label>
              <input
                type="text"
                class="form-control input-readonly inputCompletado"
                id="nivelInput"
                readonly
                [value]="estudiante.nivel"
              />
            </div>
          </div>
        </div>

        <div class="row mb-3" formGroupName="practicaPreprofesional">
          <div class="col">
            <label for="areaEstudianteInput" class="form-label"
              ><span style="color: red">*</span> Área propuesta para la
              práctica:</label
            >
            <input
              type="text"
              class="form-control"
              id="areaEstudianteInput"
              formControlName="areaPropuesta"
            />
          </div>
          <div class="col">
            <label for="numeroHorasEstudianteInput" class="form-label"
              ><span style="color: red">*</span> Número de horas
              solicitadas:</label
            >
            <input
              type="number"
              min="0"
              max="400"
              class="form-control"
              id="numeroHorasEstudianteInput"
              formControlName="horasSolicitadas"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow-sm mb-3" formGroupName="organizacion">
      <div class="card-header">
        <b>DATOS DE LA ORGANIZACIÓN, ENTIDAD O PERSONA JURÍDICA:</b>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col">
            <label for="nombreOrganizacionInput" class="form-label"
              >Nombre / Razón Social:</label
            >
            <input
              type="text"
              class="form-control inputCompletado"
              id="nombreOrganizacionInput"
              [value]="organizacion.razon_social"
              readonly
            />
          </div>
          <div class="col">
            <label for="representanteOrganizacionInput" class="form-label"
              >Representante Legal:</label
            >
            <input
              type="text"
              class="form-control inputCompletado"
              id="representanteOrganizacionInput"
              [value]="organizacion.representante_legal"
              readonly
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="areaOrganizacionInput" class="form-label"
              >Área de Dedicación:</label
            >
            <input
              type="text"
              class="form-control inputCompletado"
              id="areaOrganizacionInput"
              [value]="organizacion.area_dedicacion"
              readonly
            />
          </div>
          <div class="col">
            <label for="direccionOrganizacionInput" class="form-label"
              >Dirección:</label
            >
            <input
              type="text"
              class="form-control inputCompletado"
              id="direccionOrganizacionInput"
              [value]="organizacion.direccion"
              readonly
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="telefonoOrganizacionInput" class="form-label"
              >Télefono:</label
            >
            <input
              type="text"
              class="form-control inputCompletado"
              id="telefonoOrganizacionInput"
              [value]="organizacion.telefono"
              readonly
            />
          </div>
          <div class="col">
            <label for="emailOrganizacionInput" class="form-label"
              >E-mail:</label
            >
            <input
              type="text"
              class="form-control inputCompletado"
              id="emailOrganizacionInput"
              [value]="organizacion.email"
              readonly
            />
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="areaEstudianteInput" class="form-label"
              ><span style="color: red">*</span> Representante para la práctica
              del estudiante:</label
            >
            <select
              class="form-select"
              aria-label="Selecciona representante"
              formControlName="representante"
            >
              <option disabled>Selecciona un representante</option>
              <option
                *ngFor="let opcion of organizacion.internship_representatives"
                value="{{ opcion.id }}"
              >
                {{ opcion.user.nombre_completo }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow-sm mb-3">
      <div class="card-header"><b>COMPROMISO DEL ESTUDIANTE</b></div>
      <div class="card-body">
        <div class="row mb-3" formGroupName="compromisoEstudiante">
          <div class="col">
            <p style="text-align: justify">
              Me comprometo a cumplir con el Reglamento de Prácticas Pre
              profesionales de la Universidad, así como los objetivos,
              actividades, horarios y más responsabilidades exigidas por la
              organización, entidad o persona jurídica en la que realizaré mis
              practicas preprofesionales. Mi conducta, en todo momento, será de
              responsabilidad, honestidad, puntualidad y colaboración.
            </p>
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="acepta"
                id="aceptarCompromisoCheckbox"
              />
              <label for="aceptarCompromisoCheckbox">
                <p><span style="color: red">*</span> Aceptar Compromiso</p>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 mb-3">
      <button
        class="btn btn-primary btn-lg"
        [disabled]="
          formGroupSolicitudPracticas.invalid ||
          formGroupSolicitudPracticas.get('compromisoEstudiante.acepta')
            ?.value == false
        "
      >
        Solicitar Prácticas Pre-Profesionales
      </button>
    </div>
  </form>
</div>
