<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h3 class="text-center text-warning">Seguimiento y evaluación de prácticas pre-profesionlaes<br>por parte de la organizacón, entidad o persona jurídica</h3>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header">DATOS DE LA ORGANIZACIÓN, ENTIDAD O PERSONA JURÍDICA</div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="nombreEmpresaInput" class="form-label">Nombre / Razón social:</label>
                            <input type="text" class="form-control" id="nombreEmpresaInput">
                        </div>
                        <div class="col">
                            <label for="representanteEmpresaInput" class="form-label">Representante legal:</label>
                            <input type="text" class="form-control" id="representanteEmpresaInput">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="areaEmpresaInput" class="form-label">Área de dedicación:</label>
                            <input type="text" class="form-control" id="areaEmpresaInput">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="representantePracticaEmpresaInput" class="form-label">Representante para la práctica del estudiante:</label>
                            <input type="text" class="form-control" id="representantePracticaEmpresaInput">
                        </div>
                        <div class="col">
                            <label for="areaPracticaEmpresaInput" class="form-label">Área de las prácticas:</label>
                            <input type="text" class="form-control" id="areaPracticaEmpresaInput">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header">DATOS DEL ESTUDIANTE</div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="nombreEstudianteInput" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreEstudianteInput">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Carrera:</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected disabled>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label">Nivel:</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected disabled>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label">Ciclo:</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected disabled>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="areaPracticasInput" class="form-label">Área de la práctica pre-profesional:</label>
                            <input type="text" class="form-control" id="areaPracticasInput">
                        </div>
                        <div class="col">
                            <label for="horasPracicasInput" class="form-label">Número de horas de prácticas realizadas:</label>
                            <input type="number" class="form-control" id="horasPracicasInput">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="inicioPracticasInput" class="form-label">Fecha de inicio:</label>
                            <input type="date" class="form-control" id="inicioPracticasInput">
                        </div>
                        <div class="col">
                            <label for="finPracicasInput" class="form-label">Fecha de finalización:</label>
                            <input type="date" class="form-control" id="finPracicasInput">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
