<div class="container mt-2">
  <h1 class="text-primary">
    PRÁCTICAS PREPROFESIONALES <br /><span class="titulo-bienvenida"
      >DIRECTOR DE CÁRRERA: {{ representante.nombre }}</span
    >
  </h1>
  <br />
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-primary">
        INFORMACIÓN DE PRÁCTICAS PREPROFESIONALES
      </h5>
    <p-table #dt [value]="estudiantesDirector" [rows]="10" [paginator]="true" [globalFilterFields]="['identificacion','nombre']" styleClass="p-datatable-sm" responsiveLayout="scroll"
       [rowHover]="true" dataKey="id"
         >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="identificacion">Identificacion <p-sortIcon field="identificacion"></p-sortIcon></th>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="nivel">Nivel <p-sortIcon field="nivel"></p-sortIcon></th>
                <th pSortableColumn="estadoPractica">Práctica Preprofesional<p-sortIcon field="estadoPractica"></p-sortIcon></th>
                <th rowspan="2">Acciones</th>
            </tr>
            <tr>
              <th>
                <input class="form-control" pInputText type="text" #identificacionfilter (input)="dt.filter(identificacionfilter.value, 'identificacion', 'startsWith')">
              </th>
              <th>
                <input class="form-control" pInputText type="text" #nombrefilter (input)="dt.filter(nombrefilter.value, 'nombre', 'startsWith')">
              </th>
            <th>
              <input class="form-control" pInputText type="text" #nivelfilter (input)="dt.filter(nivelfilter.value, 'nivel', 'startsWith')">
            </th>
            <th>
              <input class="form-control" pInputText type="text" #estadofilter (input)="dt.filter(estadofilter.value, 'estadoPractica', 'startsWith')">
            </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estudiante>
            <tr>
                <td>{{estudiante.identificacion}}</td>
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.nivel}}</td>
                <td>{{estudiante.estadoPractica}}</td>
                <td>
                  <a class="btn btn-primary" [routerLink]="['/app/director/informacion-practica',estudiante.identificacion]" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Ver</a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total: {{estudiantesDirector ? estudiantesDirector.length : 0 }} estudiantes.
            </div>
        </ng-template>
    </p-table>
</div>