<div class="container ">
  <h1 class="text-center text-primary titulo-principal">CARTA DE COMPROMISO</h1>
  <form
    class="needs-validation"
    [formGroup]="formGroupInformacionEstudiante"
    (ngSubmit)="onSubmit($event)"
    *ngIf="mostrarFormularioEstudiante === true"
    novalidate
  >
    <div class="card shadow-sm mb-3">
      <div class="card-header"><b>DATOS DEL ESTUDIANTE:</b></div>
      <div class="card-body">
        <div class="row " formGroupName="estudiante">
          <div class="col-md-6 mb-3">
            <label class="form-label">Nombre completo:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nombre completo"
              [value]="compromisoBioseguridad.nombreCompleto"
              disabled
              readonly
            />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Identificación:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Identificación"
              [value]="compromisoBioseguridad.identificacion"
              disabled
              readonly
            />
          </div>
        </div>
        <div class="row " formGroupName="estudiante">
          <div class="col-md-6 mb-3">
            <label class="form-label">Carrera:</label>
            <input
              type="text"
              class="form-control"
              [value]="compromisoBioseguridad.carrera"
              placeholder="Carrera"
              disabled
              readonly
            />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Semestre:</label>
            <input
              type="text"
              class="form-control"
              [value]="compromisoBioseguridad.semestre"
              placeholder="Semestre"
              disabled
              readonly
            />
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow-sm mb-3">
      <div class="card-header">
        <b
          >DATOS DE LA ORGANIZACIÓN, ENTIDAD O PERSONA JÚRIDICA PARA LA PRÁCTICA
          PRE PROFESIONAL:</b
        >
      </div>
      <div class="card-body" formGroupName="organizacion">
        <div class="row ">
          <div class="col-md-6 mb-3">
            <label for="nombreOrganizacionInput" class="form-label"
              ><span style="color: red">*</span> Nombre / Razón Social:</label
            >
            <select
              id="nombreOrganizacionInput"
              class="form-select"
              aria-label="Selecciona la organización"
              formControlName="nombreRazonSocial"
              required
            >
              <option disabled>Selecciona una organización</option>
              <option
                *ngFor="let opcion of organizaciones"
                value="{{ opcion.id }}"
              >
                {{ opcion.razon_social }}
              </option>
            </select>
            <div class="invalid-feedback">Campo obligatorio</div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end  mb-3">
      <button class="btn btn-primary" type="submit">
        CONTINUAR <i class="fa-solid fa-circle-check"></i>
      </button>
    </div>
  </form>

  <div *ngIf="mostrarFormularioEstudiante == false">
    <p>
      Señor/a<br />
      <b
        >DIRECTOR DE LA CARRERA DE
        {{ formularioCartaCompromiso.get("carrera")?.value }}</b
      >
      <br />
      <b>UNIB.E</b><br />
      Presente.-
    </p>
    <p class="text-justify">
      Yo, {{ formularioCartaCompromiso.get("nombre_estudiante")?.value }},
      estudiante, portador de la cédula de ciudadanía / identidad No.
      {{ formularioCartaCompromiso.get("cedula_estudiante")?.value }}, de la
      Carrera de {{ formularioCartaCompromiso.get("carrera")?.value }}, en la
      que actualmente me estoy matriculando en el semestre Nº
      {{ formularioCartaCompromiso.get("semestre")?.value }}, por medio del
      presente, dejo constancia escrita de mi compromiso a cumplir de manera
      irrestricta con las disposiciones contenidas en el protocolo de
      bioseguridad de la institución
      {{ formularioCartaCompromiso.get("empresa")?.value }}, durante el
      desarrollo de mis prácticas pre profesionales / actividades de vinculación
      con la sociedad.
    </p>
    <p class="text-justify">
      En caso de incumplir con una o varias disposiciones contenidas en el
      referido protocolo, deslindo a la institución
      {{ formularioCartaCompromiso.get("empresa")?.value }} y a la Universidad
      Iberoamericana del Ecuador de cualquier responsabilidad en caso de
      registrarse cualquier complicación o contagio producto de ese
      imcumplimiento.
    </p>
    <p class="text-end">
      Quito, D.M, {{ formularioCartaCompromiso.get("fecha_texto")?.value }}
    </p>
    <br /><br /><br />
    <p>
      Srta./Sr {{ formularioCartaCompromiso.get("nombre_estudiante")?.value
      }}<br />
      ESTUDIANTE DE LA CARRERA DE:
      {{ formularioCartaCompromiso.get("carrera")?.value }}<br />
      CC: {{ formularioCartaCompromiso.get("cedula_estudiante")?.value }}
    </p>
    <div class="d-flex justify-content-end  mb-3">
      <button
        class="btn btn-primary"
        type="button"
        (click)="generarCartaCompromiso()"
        [disabled]="formularioCartaCompromiso.invalid"
      >
        CONTINUAR <i class="fa-solid fa-circle-check"></i>
      </button>
    </div>
  </div>
</div>
