<div class="container mt-2">
  <h1 class="text-center text-primary">MÓDULO DE ADMINISTRADOR</h1>

  <!-- Tabla de Usuarios -->
  <table class="table">
    <thead>
      <tr>
        <th>Identificación</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Utiliza *ngFor para recorrer la lista de usuarios -->
      <tr *ngFor="let usuario of listaUsuarios">
        <td>{{ usuario.identificacion }}</td>
        <td>{{ usuario.nombre_completo }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.tipo_catalogo.nombre }}</td>
        <td>
          <!-- Botones para editar, eliminar y ver detalles -->
          <button
            type="button"
            class="btn btn-warning btn-sm"
            data-toggle="modal"
            data-target="#editarUsuarioModal"
          >
            Editar
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm ml-2"
            data-toggle="modal"
            data-target="#eliminarUsuarioModal"
          >
            Eliminar
          </button>
          <button
            type="button"
            class="btn btn-info btn-sm ml-2"
            data-toggle="modal"
            data-target="#verDetallesModal"
          >
            Ver Detalles
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarUsuarioModalLabel">
          Agregar Usuario
        </h5>
        <button
          #btnCerrarModalCrear
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" style="background-color: white">
        <!-- Componente de Angular -->
        <form
          [formGroup]="agregarUsuarioForm"
          (ngSubmit)="agregarUsuario()"
          *ngIf="agregarUsuarioForm"
        >
          <div class="form-group">
            <label for="identificacion">Identificación:</label>
            <input
              type="text"
              class="form-control"
              id="identificacion"
              formControlName="identificacion"
            />
            <!-- Mostrar mensaje de error si el campo es inválido -->
            <div
              *ngIf="
                agregarUsuarioForm.get('identificacion')?.invalid &&
                agregarUsuarioForm.get('identificacion')?.touched
              "
            >
              Identificación es requerida.
            </div>
          </div>

          <div class="form-group">
            <label for="nombreCompleto">Nombre:</label>
            <input
              type="text"
              class="form-control"
              id="nombreCompleto"
              formControlName="nombreCompleto"
            />
            <!-- Mostrar mensaje de error si el campo es inválido -->
            <div
              *ngIf="
                agregarUsuarioForm?.get('nombreCompleto')?.invalid &&
                agregarUsuarioForm?.get('nombreCompleto')?.touched
              "
            >
              Nombre es requerido.
            </div>
          </div>

          <div class="form-group">
            <label for="email">Correo:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
            />
            <!-- Mostrar mensaje de error si el campo es inválido -->
            <div
              *ngIf="
                agregarUsuarioForm.get('email')?.invalid &&
                agregarUsuarioForm.get('email')?.touched
              "
            >
              Correo inválido.
            </div>
          </div>

          <div class="form-group">
            <label for="tipoUsuario">Rol:</label>
            <select
              class="form-control"
              id="tipoUsuario"
              formControlName="tipoUsuario"
            >
              <option value="ESTUDIANTE">ESTUDIANTE</option>
              <option value="REPRESENTANTE PRÁCTICAS">
                REPRESENTANTE PRÁCTICAS
              </option>
            </select>
            <!-- Mostrar mensaje de error si el campo es inválido -->
            <div
              *ngIf="
                agregarUsuarioForm.get('tipoUsuario')?.invalid &&
                agregarUsuarioForm.get('tipoUsuario')?.touched
              "
            >
              Rol es requerido.
            </div>
          </div>

          <!-- Botón para enviar el formulario -->
          <button type="submit" class="btn btn-primary">Agregar Usuario</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Editar Usuario -->
<div
  class="modal fade"
  id="editarUsuarioModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editarUsuarioModalLabel"
  aria-hidden="true"
>
  <!-- Contenido del modal aquí -->
</div>

<!-- Modal para Eliminar Usuario -->
<div
  class="modal fade"
  id="eliminarUsuarioModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="eliminarUsuarioModalLabel"
  aria-hidden="true"
>
  <!-- Contenido del modal aquí -->
</div>

<!-- Modal para Ver Detalles del Usuario -->
<div
  class="modal fade"
  id="verDetallesModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="verDetallesModalLabel"
  aria-hidden="true"
>
  <!-- Contenido del modal aquí -->
</div>
