<div class="fondo">
        <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand fs-3 text-white" href="#">UNIB.E - PRÁCTICAS PRE-PROFESIONALES</a>
            </div>
        </nav>
        <div class="flex-inicio-sesion">
            <img class="logo" src="../../../assets/img/logoUnibe.png" alt="" srcset="">
            <form class="form-sesion" action="">
                <h4 class="text-center text-warning">inicio de sesion</h4>
                <input class="mb-3 form-control" type="text" placeholder="Usuario">
                <input class="mb-3 form-control" type="text" placeholder="Contraseña">
                <button class="mb-3 btn btn-primary">Continuar</button>
                <a class="text-center fs-8 " href="">Olvidaste tu usuario o contraseña?</a>
            </form>
        </div>
        <footer class="footer bg-primary text-center">
            <span class="text-white">http://www.unibe.edu.ec<br>info@unibe.edu.ec<br>+59322903573</span>
        </footer>
    </div>