<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h1 class="text-center text-warning">Listado de Usuarios</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-8"></div>
        <div class="col text-end">
            <p-button label="Nuevo Usuario" severity="success" (onClick)="redireccionar('nuevo')"></p-button>
        </div>
        <div class="col text-end">
            <p-button label="Carga Masiva" severity="success" (onClick)="redireccionar('carga-masiva')"></p-button>
        </div>
    </div>
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios; index as i">
                <th scope="row">{{i + 1}}</th>
                <td>{{usuario.identificacion}}</td>
                <td>{{usuario.nombre_completo}}</td>
                <td>{{usuario.tipo_catalogo?.nombre}}</td>
                <td>{{usuario.estado_catalogo?.nombre}}</td>
                <td>
                    <span class="p-buttonset">
                        <p-button icon="pi pi-info-circle" severity="info" (onClick)="redireccionar('ver/' + usuario.id)"></p-button>
                        <p-button icon="pi pi-pencil" severity="warning" (onClick)="redireccionar('editar/' + usuario.id)"></p-button>
                        <p-button icon="pi pi-trash" severity="danger" (onClick)="abrirVentanaConfirmacion(usuario.id)"></p-button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination [total]="total_pages" [current_page]="current_page"
        (changePageEvent)="cambiarPagina($event)"></app-pagination>
</div>