<div class="container">
  <div class="row">
    <div class="col-md mb-3">
      <h1 class="text-center text-primary  titulo-principal">
        COMPROMISO DE RECEPCIÓN DE PRÁCTICAS PRE PROFESIONALES ESTUDIANTILES POR
        PARTE DE UNA ORGANIZACIÓN, ENTIDAD O PERSONA JURÍDICA
      </h1>
    </div>
  </div>
  <form
    [formGroup]="formCompromisoRecepcion"
    (ngSubmit)="onSubmit($event)"
    novalidate
  >
    <div class="card shadow-sm mb-3">
      <div class="card-header">
        <b>DATOS DE LA ORGANIZACIÓN, ENTIDAD O PERSONA JURÍDICA:</b>
      </div>
      <div class="card-body">
        <div class="row ">
          <div class="col-md-6 mb-3">
            <label for="razonSocialInput" class="form-label"
              >Nombre / Razón Social:</label
            >
            <input
              type="text"
              class="form-control input-readonly"
              id="razonSocialInput"
              [value]="infoCompromisoRecepcion.razon_social"
              readonly disabled
            />
          </div>
        </div>
        <div class="row ">
          <div class="col-md mb-3">
            <label for="representanteInput" class="form-label"
              >Representante legal:</label
            >
            <input
              type="text"
              class="form-control input-readonly"
              id="representanteInput"
              [value]="infoCompromisoRecepcion.representante_legal"
              readonly disabled
            />
          </div>
          <div class="col-md mb-3">
            <label for="areaInput" class="form-label">Area dedicación:</label>
            <input
              type="text"
              class="form-control input-readonly"
              id="areaInput"
              [value]="infoCompromisoRecepcion.area_dedicacion"
              readonly disabled
            />
          </div>
        </div>
        <div class="row ">
          <div class="col-md mb-3">
            <label for="telefonoInput" class="form-label"
              >Télefono de la organización, entidad o persona jurídica:</label
            >
            <input
              type="text"
              class="form-control input-readonly"
              id="telefonoInput"
              [value]="infoCompromisoRecepcion.telefono"
              readonly disabled
            />
          </div>
          <div class="col-md mb-3">
            <label for="direccionInput" class="form-label">Dirección:</label>
            <input
              type="text"
              class="form-control input-readonly"
              id="direccionInput"
              [value]="infoCompromisoRecepcion.direccion"
              readonly disabled
            />
          </div>
        </div>
        <div class="row ">
          <div class="col-md mb-3">
            <label for="diasHabilesInput" class="form-label"
              >Días hábiles:</label
            >
            <input
              type="text"
              class="form-control input-readonly"
              id="diasHabilesInput"
              [value]="infoCompromisoRecepcion.dias_habiles"
              readonly disabled
            />
          </div>
          <div class="col-md mb-3">
            <label for="horarioInput" class="form-label">Horario:</label>
            <input
              type="text"
              class="form-control input-readonly"
              id="horarioInput"
              [value]="infoCompromisoRecepcion.horario"
              readonly disabled
            />
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow-sm mb-3">
      <div class="card-header">
        <b>DATOS DEL REPRESENTANTE DE LA PRÁCTICA:</b>
      </div>
      <div class="card-body">
        <div>
          <div class="row ">
            <div class="col-md mb-3">
              <label for="nombreInput" class="form-label">Nombre:</label>
              <input
                type="text"
                class="form-control input-readonly"
                id="nombreInput"
                [value]="infoCompromisoRecepcion.nombre_representante"
                readonly disabled
              />
            </div>
            <div class="col-md mb-3">
              <label for="funcionInput" class="form-label">Función:</label>
              <input
                type="text"
                class="form-control input-readonly"
                id="funcionInput"
                [value]="infoCompromisoRecepcion.funcion"
                readonly disabled
              />
            </div>
          </div>
          <div class="row ">
            <div class="col-md mb-3">
              <label for="telefonoInput" class="form-label">Télefono:</label>
              <input
                type="text"
                class="form-control input-readonly"
                id="telefonoInput"
                [value]="infoCompromisoRecepcion.telefono_representante"
                readonly disabled
              />
            </div>
            <div class="col-md mb-3">
              <label for="emailInput" class="form-label">Email:</label>
              <input
                type="text"
                class="form-control input-readonly"
                id="emailInput"
                [value]="infoCompromisoRecepcion.email_representante"
                readonly disabled
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div formGroupName="compromisoRecepcion">
      <div class="card shadow-sm mb-3">
        <div class="card-header">
          <b
            >COMPROMISO EN RELACIÓN CON EL ESTUDIANTE DE PRÁCTICAS PRE
            PROFESIONALES:</b
          >
        </div>
        <div class="card-body">
          <div class="row ">
            <div class="col-md mb-3">
              <label for="nombreEstudianteInput" class="form-label"
                >Nombre del estudiante:</label
              >
              <input
                type="text"
                class="form-control input-readonly"
                id="nombreEstudianteInput"
                [value]="infoCompromisoRecepcion.nombre_estudiante"
                readonly disabled
              />
            </div>
            <div class="col-md mb-3">
              <label for="areaPracticaInput" class="form-label"
                >Área propuesta para la práctica pre profesional:</label
              >
              <input
                type="text"
                class="form-control input-readonly"
                id="areaPracticaInput"
                [value]="infoCompromisoRecepcion.area_estudiante"
                readonly disabled
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md mb-3">
              <label for="objetivosInput" class="form-label"
                ><span style="color: red">*</span> Objetivos de la práctica pre
                profesional:</label
              >
              <textarea
                class="form-control"
                id="objetivosInput"
                name=""
                formControlName="objetivos"
                cols="30"
                rows="3"
              ></textarea>
            </div>
            <div class="row">
              <div class="col-md mb-3">
                <label for="tareaInput" class="form-label"
                  ><span style="color: red">*</span> Tareas:</label
                >
                <textarea
                  class="form-control"
                  id="tareaInput"
                  name=""
                  formControlName="tareas"
                  cols="30"
                  rows="4"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md mb-3">
              <label for="fechaInicioInput" class="form-label"
                ><span style="color: red">*</span> Fecha de Inicio:</label
              >
              <input
                type="date"
                class="form-control"
                id="fechaInicioInput"
                formControlName="fechaInicio"
                placeholder=""
                required
              />
            </div>
            <div class="col-md mb-3">
              <label for="fechaFinInput" class="form-label"
                ><span style="color: red">*</span> Fecha de Finalización:</label
              >
              <input
                type="date"
                class="form-control"
                id="fechaFinInput"
                formControlName="fechaFin"
                placeholder=""
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md mb-3">
              <label for="diasInput" class="form-label"
                ><span style="color: red">*</span> Días Laborales de las
                prácticas pre profesionales:
              </label>
              <br />
              <div class="d-sm-flex justify-content-sm-center d-md-flex flex-md-row justify-content-md-around ">
                <div class="form-check-inline m-2">
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="lunesCheckBox"
                    autocomplete="off"
                    [checked]="diasLaborables.lunes"
                    #lunesCheckBox
                    (change)="seleccionarDia('lunes', lunesCheckBox.checked)"
                  />
                  <label
                    class="btn btn-outline-primary"
                    for="btn-check-lun-outlined"
                    >Lun</label
                  ><br />
                </div>
                <div class="form-check-inline m-2">
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-mar-outlined"
                    autocomplete="off"
                    [checked]="diasLaborables.martes"
                    #martesCheckBox
                    (change)="seleccionarDia('martes', martesCheckBox.checked)"
                  />
                  <label
                    class="btn btn-outline-primary"
                    for="btn-check-mar-outlined"
                    >Mar</label
                  ><br />
                </div>
                <div class="form-check-inline m-2">
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-mie-outlined"
                    autocomplete="off"
                    [checked]="diasLaborables.miercoles"
                    #miercolesCheckBox
                    (change)="
                      seleccionarDia('miercoles', miercolesCheckBox.checked)
                    "
                  />
                  <label
                    class="btn btn-outline-primary"
                    for="btn-check-mie-outlined"
                    >Mie</label
                  ><br />
                </div>
                <div class="form-check-inline m-2">
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-jue-outlined"
                    autocomplete="off"
                    [checked]="diasLaborables.jueves"
                    #juevesCheckBox
                    (change)="seleccionarDia('jueves', juevesCheckBox.checked)"
                  />
                  <label
                    class="btn btn-outline-primary"
                    for="btn-check-jue-outlined"
                    >Jue</label
                  ><br />
                </div>
                <div class="form-check-inline m-2">
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-vie-outlined"
                    autocomplete="off"
                    [checked]="diasLaborables.viernes"
                    #viernesCheckBox
                    (change)="
                      seleccionarDia('viernes', viernesCheckBox.checked)
                    "
                  />
                  <label
                    class="btn btn-outline-primary"
                    for="btn-check-vie-outlined"
                    >Vie</label
                  ><br />
                </div>
                <div class="form-check-inline m-2">
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-sab-outlined"
                    autocomplete="off"
                    [checked]="diasLaborables.sabado"
                    #sabadoCheckBox
                    (change)="seleccionarDia('sabado', sabadoCheckBox.checked)"
                  />
                  <label
                    class="btn btn-outline-primary"
                    for="btn-check-sab-outlined"
                    >Sab</label
                  ><br />
                </div>
                <div class="form-check-inline m-2">
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-dom-outlined"
                    autocomplete="off"
                    [checked]="diasLaborables.domingo"
                    #domingoCheckBox
                    (change)="
                      seleccionarDia('domingo', domingoCheckBox.checked)
                    "
                  />
                  <label
                    class="btn btn-outline-primary"
                    for="btn-check-dom-outlined"
                    >Dom</label
                  ><br />
                </div>
              </div>
            </div>
            <div class="col-md mb-3">
              <label for="areaInput" class="form-label"
                ><span style="color: red">*</span> Horario:</label
              >
              <div class="row form-group">
                <div class="col-md mb-3">
                  <input
                    type="time"
                    class="form-control"
                    id="desde"
                    formControlName="horarioDesde"
                    required
                  />
                </div>
                <label for="hasta" class="col-md-1 col-md-form-label text-center"
                  >a</label
                >
                <div class="col-md mb-3">
                  <input
                    type="time"
                    class="form-control"
                    id="hasta"
                    formControlName="horarioHasta"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow-sm mb-3">
        <div class="card-header">
          <b>COMPROMISO DE LA ORGANIZACIÓN, ENTIDAD O PERSONA JURÍDICA:</b>
        </div>
        <div class="card-body">
          <p>
            Me comprometo en realizar el seguimiento y las evaluaciones
            respectivas, y recibir a la autoridad de la Universidad para la
            supervisión al estudiante.
          </p>
          <div class="form-check ">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              formControlName="aceptarCompromiso"
              required
            />
            <label class="" for="flexCheckChecked" class="">
              <b><span style="color: red">*</span> Aceptar Compromiso</b>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2  d-flex justify-content-end  mb-3">
    <button
      [disabled]="
        formCompromisoRecepcion.invalid ||
        formCompromisoRecepcion.get('aceptarCompromiso')?.value == false
      "
      class="btn btn-primary"
    >
    CONTINUAR <i class="fa-solid fa-circle-check"></i>
    </button>
    </div>
  </form>
</div>
