<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="../../../../assets/img/logo-unibejpeg.jpeg" alt=""
        class="logo-unibe" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngIf="authUser.tipo_usuario == 'ESTUDIANTE'">
          <a class="nav-link" routerLink="/app/student" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Documentos Obligatorios</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authUser.tipo_usuario == 'ADMINISTRADOR'">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administrar
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="administrar-categorias/listado">Categorías</a></li>
            <li><a class="dropdown-item" routerLink="administrar-usuarios/listado">Usuarios</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="authUser.tipo_usuario == 'DIRECTOR DE CARRERA'">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="reportes/estudiantes">Estudiantes</a>
            </li>
          </ul>
        </li>
      </ul>
      <span class="navbar-text">
        <button type="button" class="btn" (click)="logout()">
          Cerrar Sesión <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </span>
    </div>
  </div>
</nav>