<div class="container mt-2">
  <h1 class="text-center text-primary">
    MÓDULO DE REPRESENTANTE DE PRÁCTICAS
  </h1>
  <p class="text-center">
    En esta sección podrás encontrar los procesos que debes realizar como representante de prácticas</p>
  <table class="table table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">Documento</th>
        <th scope="col">Procesos</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">VSO-002</th>
        <td>COMPROMISO DE RECEPCIÓN DE PRÁCTICAS PRE PROFESIONALES ESTUDIANTILES POR PARTE DE UNA ORGANIZACIÓN, ENTIDAD O PERSONA JURÍDICA</td>
        <td><button class="btn btn-primary p-2" routerLink="/app/formularios/vso-002">Completar</button></td>
      </tr>
      <tr>
        <th scope="row">VSO-004</th>
        <td>SEGUIMIENTO Y EVALUACIÓN DE PRÁCTICAS PRE PROFESIONALES POR PARTE DE LA ORGANIZACIÓN, ENTIDAD O PERSONA JURÍDICA</td>
        <td><button class="btn btn-primary p-2" routerLink="/app/formularios/vso-004">Completar</button></td>
      </tr>
    </tbody>
  </table>
</div>
