<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-warning">Información de la Organización</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          <p class="card-text">
            <b>RUC:</b> {{organizacion?.ruc}}<br>
            <b>Razón Social:</b> {{organizacion?.razon_social}}<br>
            <b>Representante Legal:</b> {{organizacion?.representante_legal}}<br>
            <b>Dirección:</b> {{organizacion?.direccion}}<br>
            <b>Teléfono:</b> {{organizacion?.telefono}}<br>
            <b>Correo Electrónico:</b> {{organizacion?.email}}<br>
            <b>Area de Dedicación:</b> {{organizacion?.area_dedicacion}}<br>
            <b>Horario:</b> {{organizacion?.horario}}<br>
            <b>Días Laborables:</b> {{organizacion?.dias_laborables}}
          </p>
        </div>
    </div>
</div>