.card-body {
  text-align: justify;
  width: 100%;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-menu {
  width: 100%;
}

.td-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-file-pen {
  font-size: 2rem;
  color: rgb(61, 197, 37);
}

.card-title{
  font-weight: 500;
}
.estado-estudiante{
  text-transform: uppercase;
  font-size: 14px;
}
.btn{
  text-transform: uppercase;
}
.accordion-button::after {
  content: none;
}

.completed-check::after {
  content: none;
}
.fa-graduation-cap {
  font-size: 1.5rem;
  padding-right: 10px;
}	

.fa-user-graduate, .fa-user-tie, .fa-building-user {
  font-size: 1.5rem;
  padding-right: 10px;
}	