$primarys: #00498c;
$warnings: #f7ba00;

$theme-colors: (
  "primary": $primarys,
  "warning": $warnings,
  );
  
  $primary:$primarys;
  $warning:$warnings;
  @import "../../../node_modules/bootstrap/scss/bootstrap.scss";