<div class="container mt-2">
  <div class="alert alert-primary" role="alert">
    <p>Las prácticas pre profesionales son requisito obligatorio para obtener el grado o título profesional en la Universidad Iberoamericana del Ecuador, con una duración mínima de 240 horas. Su cumplimiento es condición previa para la obtención del título, incluyendo seguimiento, evaluación, presentación de informes y certificados. Estas acciones son parte integral del proceso de titulación y validan la adquisición de experiencias prácticas relevantes en el campo profesional del estudiante.</p>
    </div>
    <div class="row">
        <div class="col card m-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Compromiso del estudiante</h5>
            <p class="card-text">El estudiante se compromete a seguir estrictamente el protocolo de bioseguridad durante sus prácticas pre profesionales, eximiendo a la institución y la universidad de responsabilidad en caso de incumplimiento y posibles complicaciones o contagios.</p>
            <a href="#" class="btn btn-primary" routerLink="/app/formularios/carta-compromiso">Ir a</a>
          </div>
        </div>
        <div class="col card m-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Solicitud para realizar prácticas preprofesionales</h5>
            <p class="card-text">El estudiante proporciona información personal y de la organización para sus prácticas pre profesionales, comprometiéndose a seguir el Reglamento de Prácticas Pre profesionales de la Universidad. Su compromiso incluye cumplir con los objetivos y responsabilidades de la entidad, manteniendo una conducta de responsabilidad, honestidad, puntualidad y colaboración a lo largo de las prácticas.</p>
            <a href="#" class="btn btn-primary" routerLink="/app/formularios/vso-001">Paso 2</a>
          </div>
        </div>
        <div class="col card m-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Compromiso de la organización, entidad o persona jurídica</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" routerLink="/app/formularios/vso-002">Paso 3</a>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col card m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Seguimiento y evaluación por parte de la dirección de carreara</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" routerLink="/app/formularios/vso-003">Paso 4</a>
        </div>
      </div>
      <div class="col card m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Seguimiento y evaluación por parte de la organización, entidad o persona jurídica</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" routerLink="/app/formularios/vso-004">Paso 5</a>
        </div>
      </div>
      <div class="col card m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Informe de las prácticas preprofesionales por parte del estudiante</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" routerLink="/app/formularios/vso-005">Paso 6</a>
        </div>
      </div>
  </div>
</div>
